*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    box-sizing: border-box;
}
.container{
    max-width: 500px;
    margin:10vh auto 0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.display{
    text-align: left;
    padding: 40px;
    height: 70px;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    width: 100%;
    font-style: italic;
}
.buttons{

display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
/* border-bottom: 1px solid #999;
border-left: 1px solid #999; */
}
.buttons > div{
    /* border-top: 1px solid #999;
    border-right: 1px solid #999; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}
.button{
    /* border: .5px solid black; */
    /* line-height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    transition: .4s;
    border-radius: 5px;
    margin: 5px;
    width: 70px;
    height: 70px;
    margin: 10px auto;
}

#equal{
    background-color: #5555ff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    transition: .4s;
    border-radius: 5px;
    margin: 5px;
    width: 70px;
    height: 70px;
    margin: 10px auto;
}
.button:hover{
    background-color: #777;
    color: white;
}